<!-- <tbody>  
      <tr *ngFor="let product of allUsersArray">  
          <td>{{ product.name }}</td>  
          <td>{{ product.email }}</td>  
          <td>{{ product.phone }}</td>  

      </tr>  
  </tbody>   -->
<div class="card shadow-lg  bg-white " style="width: 21rem; height:200px;margin-top:19px; margin-left:21px;">
	<div class="card-body m-10">
		<div class="card-text" *ngFor="let user of allUsersArray">
      <h5 class="card-title">{{ user.id }}. {{ user.name }}</h5>
        <h5 class="card-title">{{ user.email }}</h5>
          <h5 class="card-title">{{ user.phone }}</h5>
            <h5 class="card-title">{{user.address}}</h5>
      <div>
	</div>
</div>