<!-- <div class="row p-3 px-3">

	<div class="col-sm-4 card-body border border-secondary m-3 bg-white"
		style="border-radius: 10px; border:1px; box-shadow: 10px 10px 0px 7px rgba(143,136,143,1);"
		*ngFor="let user of allUsersArray;index as i">

		<div class="card-text">
			<h5 class="card-title">{{ i+1 }}. {{ user.name }} </h5>
			<h5 class="card-title">{{ user.email }}</h5>
			<h5 class="card-title">{{ user.phone }}</h5>
			<h5 class="card-title">{{user.address}}</h5>
			<div>
			</div>
		</div> -->
  <div class="row p-3 px-3">

	<div class="col-sm-4 card-body border border-secondary m-3 bg-white"
		style="border-radius: 10px; border:1px; box-shadow: 10px 10px 0px 7px rgba(143,136,143,1);"
		*ngFor="let record of User;index as i">
		<button type="button" class="close" aria-label="Close" style="marginTop:-12px;">
<span aria-hidden="true" (click)="deleteCard(record.id)">×</span>  
</button>

		<div class="card-text">
			<h5 class="card-title">{{ i+1 }}. {{ record.name }} </h5>
			<h5 class="card-title">{{ record.email }}</h5>
			<h5 class="card-title">{{ record.phone }}</h5>
			<h5 class="card-title">{{record.address}}</h5>
			<div>
			</div>
		</div>
  