<div class="container-fluid">
	<h5>User Registration</h5>
</div>
<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
	<div class="form-group row">
		<label for="Name" class="col-lg-1 offset-lg-3 col-form-label ">Name</label>
		<div class="col-lg-2">
			<input type="text" [(ngModel)]="model.name" class="form-control form-control-sm" id="Name" required name="name" #name="ngModel"/>
			<div [hidden]="name.valid || name.pristine|| !name.errors.required" class="errors">
				Name can't be left empty
			</div>

		</div>

	</div>
	<div class="form-group row">
		<label for="Email"  class="col-lg-1 offset-lg-3 col-form-label">Email</label>
		<div class="col-lg-2">
			<input type="text" [(ngModel)]="model.email"class="form-control form-control-sm" id="Email" required name="email" #email="ngModel">
			<div [hidden]="email.valid || email.pristine|| !email.errors.required" class="errors">
				Email can't be left empty
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label for="Phone" class="col-lg-1 offset-lg-3 col-form-label ">Phone</label>
		<div class="col-lg-2">
			<input type="text"  [(ngModel)]="model.phone"class="form-control form-control-sm" id="Phone"required name="phone" #phone="ngModel">
			<div [hidden]="email.valid || email.pristine|| !email.errors.required" class="errors">
				Phone can't be left empty
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label for="Address" class="col-lg-1 offset-lg-3 col-form-label ">Address</label>
		<div class="col-lg-2">
			<input type="text"[(ngModel)]="model.address" class="form-control  form-control-sm " id="Address"required name="address" #address="ngModel">
			<div [hidden]="email.valid || email.pristine|| !email.errors.required" class="errors">
				Address can't be left empty
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="radio col-lg-1 offset-lg-3">
			Gender
		</div>
		<div class="col-lg-6">
			<label class="radiocontainer">
				<input type="radio" name="gender" value="Male"  checked  >Male
          </label>
			<label class="radiocontainer1 ml-5">
				<input type="radio" name="gender" value="Female">Female
          </label>
		</div>
	</div>
	<div class="col-lg-8 offset-lg-3">
		<button type="reset" class="btn-primary button btn-lg  ml-0.1" (click)="newData(); dataForm.reset()"style=" background-color:#343123;">RESET</button>
		<button type="submit" class="button btn-secondary btn-lg ml-3" [disabled]="!dataForm.form.valid"style=" background-color:#9E6DF7;">SUBMIT</button>
	</div>


</form>