<div class="row p-3">
	<div class="col-sm-10">
<label  style="margin:20px; padding:20px;"for="Countries"><h5>Select Country</h5></label>

<select style="width:200px; height:35px; border:2px solid #f0f0f5; border-radius:3px; padding-left:6px;" id="Countries" 
 (change)="OnIdSelected($event) ">
  <option value="Enter">Enter a Country</option>
   <option *ngFor="let country of countries" value="{{country.Slug}}">{{country.Country}}</option>

</select>
</div>
 <span class="dot1"><h6>{{worlddata.TotalConfirmed}}</h6></span>
<span class="dot2"><h6>{{worlddata.TotalDeaths}}</h6></span>
<span class="dot3"><h6>{{worlddata.TotalRecovered}} </h6></span>
</div>
<div *ngIf="show"class="container mt-2">
  <div class="table-responsive-sm">
<table class="table table-bordered differentTable">
  <thead class="table-active">
    <tr>
      <th>Date</th>
      <th >Total Cases</th>
      <th >Active</th>
      <th>Recovered</th>
      <th>Deaths</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tabledata|sortBy:'desc':'Date'" >
      <td>{{data.Date| date:'dd/MM/yyyy'}}</td>
      <td>{{data.Confirmed}}</td>
      <td>{{data.Active}}</td>
       <td>{{data.Recovered}}</td>
      <td>{{data.Deaths}}</td>

    </tr>
    
  
  </tbody>
</table>
</div>
</div>