<div class="container-fluid_decor">
	<h1>nipsol</h1>
	<h4>CONTACTLESS ORDERING</h4>
	
</div>

<div class="flex-container">
    <div class="home">
        <a  style="text-decoration: none;"[routerLink]="['/']"routerLinkActive="active"><h2 (click)="clickEvent()"[ngClass]="status ? 'active':' '">HOME</h2></a>
		</div>
    <div class="adduser">
        <a style="text-decoration: none;"[routerLink]="['/AddUser']"routerLinkActive="active"><h2 (click)="clickEvent1()"[ngClass]="status1 ? 'active':' '">+ADD USER</h2></a>
		</div>
	<div>
		<img src="https://trello-attachments.s3.amazonaws.com/5f53991ab0d38d18352ceba9/5f54d58d2a8eca11696208d1/7c54014642db96fc326015569a598fbe/nipsol_favicon.png" /></div>
		<div class="link">
			<p>www.nipsol.com</p>
        </div>
      
	</div>
 
 <router-outlet ></router-outlet>
  
  