<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<div class="heading1">
	<h1>nipsol</h1>
	<p>CONTACTLESS ORDERING</p>
</div>
<div class="flex-container">
  <div><img src="https://trello-attachments.s3.amazonaws.com/5f53991ab0d38d18352ceba9/5f54d58d2a8eca11696208d1/7c54014642db96fc326015569a598fbe/nipsol_favicon.png" /></div>
  <div class="link"><h5>www.nipsol.com</h5></div>

</div>
<h2>
  Salient Features of Nipsol
</h2>

<ol>
<li>
   It offers a Platinum Independent application for all restaurant food ordering foods.
</li>
<li>
   A nipsol certified restaurant is marked as Safe to Dine by most customers across India.
</li>
<li>
   Nipsol Payment System can be Integrated at 0% charges.
</li>
<li>
   With QR Based Ordering and e-Invoice functionality , human intervention is reduced considerably making it a contactless alternative to conventional  ordering mechanisms.
</li>
<li>
  Currently Nipsol has marked its presence in over 50 Restaurants/Cafes across 50 cities within a span of 8 weeks since its launch.
</li>
</ol>
