<div class="container-fluid_decor">
	<h1>nipsol</h1>
	<h4>CONTACTLESS ORDERING</h4>
	
</div>

<div class="flex-container">
    <div class="home">
        <a  style="text-decoration: none;"[routerLink]="['/']"routerLinkActive="active"><h2 (click)="clickEvent()"[ngClass]="status ? 'active':' '">HOME</h2></a>
		</div>
    <div class="adduser">
        <a style="text-decoration: none;"[routerLink]="['/AddUser']"routerLinkActive="active"><h2 (click)="clickEvent1()"[ngClass]="status1 ? 'active':' '">+ADD USER</h2></a>
		</div>
     <div class="allusers">
        <a style="text-decoration: none;"[routerLink]="['/AllUsers']"routerLinkActive="active"><h2 (click)="clickEvent2()"[ngClass]="status2 ? 'active':' '">ALL USERS</h2></a>
		</div>
     <div class="covidmeter">
        <a style="text-decoration: none;"[routerLink]="['/CovidMeter']"routerLinkActive="active"><h2 (click)="clickEvent3()"[ngClass]="status3 ? 'active':' '">COVID METER</h2></a>
		</div>
	<div>
		<img src="https://trello-attachments.s3.amazonaws.com/5f53991ab0d38d18352ceba9/5f5722622a9c4f349d87d408/x/3f074143e4456fb8a4b40df2917fe2b2/nipsol_favicon.png" /></div>
		<div class="link">
			<p>www.nipsol.com</p>
        </div>
      
	</div>

 
 <router-outlet ></router-outlet>
  
  