
  <h2>
  Salient Features of Nipsol
</h2>

<ol>
<li>
   It offers a Platinum Independent application for all restaurant food ordering foods.
</li>
<li>
   A nipsol certified restaurant is marked as Safe to Dine by most customers across India.
</li>
<li>
   Nipsol Payment System can be Integrated at 0% charges.
</li>
<li>
   With QR Based Ordering and e-Invoice functionality , human intervention is reduced considerably making it a contactless alternative to conventional  ordering mechanisms.
</li>
<li>
  Currently Nipsol has marked its presence in over 50 Restaurants/Cafes across 50 cities within a span of 8 weeks since its launch.
</li>
</ol>
